/*colors*/
.c1 {
    background-color: #1565c0;
    color: white;
}

.c1-light {
    background-color: #5e92f3;
}

.c1-dark {
    background-color: #003c8f;
}

.c2 {
    background-color: #304ffe;
    color: white;
}

.c2-dark {
    background-color: #0026ca;
    color: black;
}


.c3-dark {
    background-color: #E1E2E1
}

.c3-light {
    background-color: #F5F5F6
}

body {
    margin: 0!important;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

h3 {
    color:  #0095a8;
}

.root {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.home .header {
    justify-content: center!important;
    align-items: center!important;
    text-align: center;
}

.home .header .links{
    justify-content: center!important;
    align-items: center!important;

}

.home  .resume-body{
    justify-content: center!important;
    align-items: center!important;
}

.home  .resume-body .row{
    justify-content: center!important;
    align-items: center!important;
}

.icon {
    font-size: 2.5rem !important;
    color: white;
}

.icon-body {
    color: #26c6da;
}

img {
    position: absolute; 
    top: 5px;
    margin-left: 5px;

    border: 2px solid white;
    border-radius: 50%;
}

@media (max-width: 800px) {
    img {
        display: none;
    }
}

.MuiGrid-spacing-xs-1 {
    margin: 0!important;
}